<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Stocks</title>

    <style>

        #header{
            text-align: center;
            font-size: 50px;
        }

        .red{
            color:red;
            display: inline-block;
            padding: 0.25em 0.75em;
            border: 1px solid gray;
            margin: 0.25em;
            box-shadow: 1px 1px 5px #818181;
            background-color: #878787;
        }

        .red:hover{
            background-color: greenyellow;
        }

        .green{
            color:green;
            display: inline-block;
            padding: 0.25em 0.75em;
            border: 1px solid gray;
            margin: 0.25em;
            box-shadow: 1px 1px 5px #818181;
            background-color: #878787;
        }

        .green:hover{
            background-color: greenyellow;
        }

        #search{

            display: block;
            margin: 0 auto;
        }

        .span_tags{
            display: inline-block;
            padding: 0.25em 0.75em;
            border: 1px solid gray;
            margin: 0.25em;
            box-shadow: 1px 1px 5px #818181;
            background-color: #878787;
        }

        .span_tags:hover{
            background-color: greenyellow;
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -webkit-transform: translateZ(0);
        }


       .main{
           border: 1px solid black;
           /*margin-bottom: 1em;*/
           /*margin-top: 1em ;*/
           margin: 1em 20em;

        }

       #name{
           font-size: 30px;
           text-align: center;
       }

       #div3{
           text-align: center;
       }

       #div4{
           text-align: center;
       }

       #div5{
           text-align: center;
       }


        #hidden{
            position: fixed;
            height:100%;
            width: 100%;
            display: none;
            z-index: 999;
            background-color: rgba(0,0,0,0.5);
        }

        #inner{
           color: darkred;
        }

    </style>

    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script>

        $(function(){
            document.getElementById('search').onkeydown = function(evnt){

                if(evnt.keyCode == 13){
                    ajax_call(evnt.target.value);
                }
            };



        });

        function display_change(change, arr_elements){
            var data = change.split(' - ')[1].trim();
            var class_name = data.split('%')[0] > 0 ? 'green' : 'red';
            //console.log(arr_elements[0]);
            $(arr_elements[0]).html(data);
            arr_elements.forEach(function(element){
                $(element).attr('class', class_name);
            });


        }


        function ajax_call(symbol){
                var url = 'http://query.yahooapis.com/v1/public/yql';
                var data = "select * from yahoo.finance.quotes where symbol in ('"+ symbol +"')";

                var query = 'q=' + data + "&format=json&diagnostics=true&env=http://datatables.org/alltables.env";


                var xhr = new XMLHttpRequest();
                xhr.open('GET', url + '?' + query);
                xhr.onreadystatechange = function(){
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var obj = JSON.parse(xhr.responseText);
                        console.log(obj);

                        var $div = $('<div>').addClass('main');


                        var access = obj.query.results.quote;
                        console.log(obj.query.results.quote);
                        console.log(obj.query.results.quote['symbol']);


                        var $div2 = $('<div>').html(access.Name).appendTo($div);
                        $div2.attr("id","name");

                        //var $insert_div = $('<div>').appendTo($div);
                        var $div3 = $('<div>').appendTo($div);
                        $div3.attr("id", "div3");

                        var $span = $('<span>').html('NASDAQ:').appendTo($div3);
                        $span.attr("class","Nasdaq");

                        var $span1 = $('<span>').html(access.symbol).appendTo($div3);
                        var $span2 = $('<span>').html(" "+ (new Date(obj.query.created)).toString()).appendTo($div3);

                        var $div4 = $('<div>').appendTo($div)
                        $div4.attr("id", "div4");
                        var $span3 = $('<span>').html(access.Ask).appendTo($div4);
                        //var $span4 = $('<span>').html(access.Change_PercentChange).appendTo($div4);
                        var $span5 = $('<span>').appendTo($div4);

                        display_change(access.Change_PercentChange, [$span5]);

                        var $div5 = $('<div>').appendTo($div);
                        $div5.attr("id","div5");
                        var $span6 = $('<span>').html('High:' + access.YearHigh + ' Low:' + access.YearLow).appendTo($div5);

                        $span1.attr("class","span_tags");
                        $span2.attr("class","span_tags");
                        $span3.attr("class","span_tags");
                        //$span5.attr("class","span_tags");
                        $span6.attr("class","span_tags");


                        $(document.body).append($div);


//                       $div.click(function() {
//                           $('#hidden').css('display', 'block');
//                       });

                       var innerdiv = document.getElementById('inner');

                       for(var prop in obj.query.results.quote){
                           //$('#inner').append(obj.query.results.quote[prop]);
                           innerdiv.innerHTML += '<br>'+ obj.query.results.quote[prop];
                       }



                    }
                };
                xhr.send();

            }


    </script>
</head>
<body>

<div id="hidden">
    <div id="inner">

    </div>
</div>

<div id="header">STOCKS INFO</div>
<div id="input">
<input type="text" placeholder="search" id="search"/>
</div>



</body>
</html>

